<%= form_for(@athlete) do |f| %>
  <% if @athlete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@athlete.errors.count, "error") %> prohibited this athlete from being saved:</h2>

      <ul>
      <% @athlete.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= "Choose a Profile Picture"%> <br>
     <%= f.file_field :photo %>
  </p>
  <br>

  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :body_mass_index %><br>
    <%= f.text_field :body_mass_index %>
  </div>
  <div class="field">
    <%= f.label :blood_pressure %><br>
    <%= f.text_field :blood_pressure %>
  </div>
  <div class="field">
    <%= f.label :cholesterol %><br>
    <%= f.number_field :cholesterol %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
