<p id="notice"><%= notice %></p>

  <%= image_tag @athlete.avatar.url(:medium) %>

<p>
  <strong>Age:</strong>
  <%= @athlete.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @athlete.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @athlete.weight %>
</p>

<p>
  <strong>Body mass index:</strong>
  <%= @athlete.body_mass_index %>
</p>

<p>
  <strong>Blood pressure:</strong>
  <%= @athlete.blood_pressure %>
</p>

<p>
  <strong>Cholesterol:</strong>
  <%= @athlete.cholesterol %>
</p>
<%= link_to 'Update Stats', edit_athlete_path(@athlete) %>

<h2>WOD</h2>

<% @athlete.wods.each do |wod| %>
  <tr>
    <% wod.movements.each do |mov| %>
      <td><%= mov.name %></td>
    <% end %>
    <td><%= wod.pr %></td>
    <td><%= wod.score %></td>
    <td><%= wod.benchmark %></td>
    <td><%= link_to 'Edit', edit_wod_path(wod),id:'edit#{wod.id}' %></td>
  </tr>
<% end %>





<h2>Create a new WOD</h2>
<%= render partial: '/wods/form', locals: { wod: @athlete.wods.build }  %>



